<h2><%= @product.title %></h2>


<div class="product-show">
  <div class="image"><%= image_tag @product.image_1.thumb.to_s %></div>
  <div class="description">
    <%= simple_format @product.description %>
  </div>
  <h3 class="price"><%= number_to_currency @product.price_in_pounds, unit: "£" %></h3>
</div>

<div class="quantity">
  <%= render partial: "quantity" %>
</div>

<p><%= link_to "Back to all products", products_path %></p>
