<!DOCTYPE html>
<html>
  <head>
    <title>PinCo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <h1><%= link_to "PinCo", root_path %></h1>

      <nav>
        <ul>
          <li class="header"><%= link_to "Shop", products_path %></li>
          <li class="header"><%= link_to "Info", info_path %></li>
          <li class="header"><%= link_to cart_path do %>
            Cart (<%= @current_cart.total_quantity %>)
          <% end %>
        </li>
      </ul>
    </nav>

  </header>

<% if flash[:success].present? %>
  <div class="success">
    <%= flash[:success] %>
  </div>
<% end %>

<%= yield %>

<footer>
  <p>Copyright 2019 |
    <%= link_to "Returns policy", "#" %></p>
</footer>

</body>
</html>
